<div class="aboutsection" ng-class="{'aboutsection': intro, 'aboutsection removesection': !intro}">
	<div class="row texthold">
		<div class="col-sm-4">
			<div class="bigme"></div>
		</div>
		<div class="col-sm-6">
			<div class="row">
				<div id="text1" class="textcontain">
					Welcome to my site. 
				</div>
			</div>
			<div class="row">
				<div id="text2" class="textcontain">
					I&#39;m a Front-End Developer, 
					UI/UX Designer and Web Analytics Guru.
				</div>
			</div>
			<div class="row">
				<div id="text3" class="textcontain">
					Click below to see my to learn more about me or click to menu button to skip to specific sections.
				</div>
			</div>
		</div>
	</div>
	<div class="mainctahold row">
		<div ng-click="intro = !intro; skillOpen();" class="maincta">
			CONTINUE
		</div>
	</div>
	<div class="ctalabel">
		Next: Technical and Creative Skills
	</div>
</div>
<!-- Skills -->
<div class="row " id="skills">
	<div class="row skills">
		<div class="col-sm-5">
			<div ng-click="creativeOpen();" class="selected" id="creative">
				<h1>Creative</h1>
			</div>
		</div>
		<div class="col-sm-5 col-sm-offset-2">
			<div ng-click="technicalOpen()" id="technical">
				<h1>Technical</h1>
			</div>
		</div>
	</div>
	<div class="row" id="creativeskills">
		<div class="col-sm-2 col-sm-offset-1">
			<div id="creativexy" class="ytext">
				Creative Skills
			</div>
		</div>
		<div id="skillcontain" class="col-sm-6 padding0">
			<div id="creativecirlcecontain">
				<div class="row">
					<div class="skillrow1">
						<div id="illustrator" class="skillcircle creativeopen">
						</div>
						<div id="sketch" class="skillcircle creativeopen">
						</div>
						<div id="photoshop" class="skillcircle creativeopen">
						</div>
						<div id="lucid" class="skillcircle creativeopen">
						</div>
					</div>	
				</div>
				<div class="row">
					<div class="skillrow2">
						<div id="balsamiq" class="skillcircle">
						</div>
						<div id="invision" class="skillcircle">
						</div>
						<div id="indesign" class="skillcircle">
						</div>
					</div>
				</div>
			</div>
			<div id="creativegraph">
				<div class="row">
					<div class="col-sm-12 padding0">
						<div class="barcontain">
							<div id="invisiongraph" class="barclosed creativebar">
								<div class="creativebartext">
									InvisionApp
								</div>
							</div>
						</div>
						<div class="barcontain">
							<div id="indesigngraph" class="barclosed creativebar">
								<div class="creativebartext">
									InDesign
								</div>
							</div>
						</div>
						<div class="barcontain">
							<div id="lucidgraph" class="barclosed creativebar">
								<div class="creativebartext">
									Lucid Charts
								</div>
							</div>
						</div>
						<div class="barcontain">
							<div id="balsamiqgraph" class="barclosed creativebar">
								<div class="creativebartext">
									Balsamiq
								</div>
							</div>
						</div>
						<div class="barcontain">
							<div id="sketchgraph" class="barclosed creativebar">
								<div class="creativebartext">
									Sketch 3
								</div>
							</div>
						</div>
						<div  class="barcontain">
							<div id="illustratorgraph" class="barclosed creativebar">
								<div class="creativebartext">
									Illustrator
								</div>
							</div>
						</div>
						<div class="barcontain">
							<div id="photoshopgraph" class="barclosed creativebar">
								<div class="creativebartext">
									Photoshop
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="graphbottom"></div>
		</div>
	</div>
	<div class="row">
		<div id="creativex" class="xtext">
			Experience Level
		</div>
	</div>
	<div class="row" id="technicalskills">
		<div class="col-sm-2 col-sm-offset-1">
			<div id="technicalxy" class="ytext">
				Technical Skills
			</div>
		</div>
		<div id="technicalskillcontain" class="col-sm-6 padding0">
			<div id="technicalcirlcecontain">
				<div class="row">
					<div class="skillrow3">
						<div id="html" class="skillcircle">
						</div>
						<div id="css" class="skillcircle">
						</div>
						<div id="bootstrap" class="skillcircle">
						</div>
						<div id="javascript" class="skillcircle">
						</div>
						<div id="jquery" class="skillcircle">
						</div>
					</div>
				</div>
			<div class="row">
				<div class="skillrow4">
					<div id="less" class="skillcircle">
					</div>
					<div id="docker" class="skillcircle">
					</div>
					<div id="git" class="skillcircle">
					</div>
					<div id="angular" class="skillcircle">
					</div>
				</div>
			</div>
		</div>
		<div id="technicalgraph">
			<div class="row">
				<div class="col-sm-12 padding0">
					<div class="barcontain">
						<div id="invisiongraph" class="technicalbarclosed technicalbar">
							<div class="technicalbartext">
								Docker
							</div>
						</div>
					</div>
					<div class="barcontain">
						<div id="indesigngraph" class="technicalbarclosed technicalbar">
							<div class="technicalbartext">
								Git
							</div>
						</div>
					</div>
					<div class="barcontain">
						<div id="lucidgraph" class="technicalbarclosed technicalbar">
							<div class="technicalbartext">
								LESS/SASS
							</div>
						</div>
					</div>
					<div class="barcontain">
						<div id="balsamiqgraph" class="technicalbarclosed technicalbar">
							<div class="technicalbartext">
								Angular
							</div>
						</div>
					</div>
					<div class="barcontain">
						<div id="sketchgraph" class="technicalbarclosed technicalbar">
							<div class="technicalbartext">
								Javascript
							</div>
						</div>
					</div>
					<div  class="barcontain">
						<div id="illustratorgraph" class="technicalbarclosed technicalbar">
							<div class="technicalbartext">
								JQuery
							</div>
						</div>
					</div>
					<div  class="barcontain">
						<div id="illustratorgraph" class="technicalbarclosed technicalbar">
							<div class="technicalbartext">
								Bootstrap
							</div>
						</div>
					</div>
					<div class="barcontain">
						<div id="photoshopgraph" class="technicalbarclosed technicalbar">
							<div class="technicalbartext">
								CSS
							</div>
						</div>
					</div>
					<div class="barcontain">
						<div id="photoshopgraph" class="technicalbarclosed technicalbar">
							<div class="technicalbartext">
								HTML
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="technicalgraphbottom"></div>
	</div>
</div>
<div class="row">
	<div id="technicalx" class="xtext">
		Experience Level
	</div>
</div>